html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  font-family: arial;
  font-size: 16px;
  background: #E6E6E6;
}

h1,h2,h3,h4{
  font-weight: normal;
}
h1{
  font-size: 48px;
  color: #2C4410;
  font-family: MyriadPro;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
}
h2{
  width: 200px;
  font-size: 18px;
  color: #2C4410;
  margin: 0;
  padding: 0;
  border-bottom: 2px solid #2C4410;
}
h3{
  color: #137415;
}
h4{
  font-size: 18px;
  color: #2C4410;
  text-align: center;
  margin: 0;
  padding: 0;
}
h5{
  font-size: 14px;
  width: 188px;
  background: #2C4410;
  color: #fff;
  padding: 5px;
}
p{
  margin: 0;
  padding: 0;
  line-height: inherit;
  text-align: justify;
}
address{
  font-style: normal;
}

/* container setting start */
.container{
  width: 990px;
  margin: 0 auto;
}
/* container setting end */

/* form elements setting start */
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
/* form elements seeting end */

/* a link setting start */
a,
a:link,
a:visited{
  color: #fff;
  text-decoration: none;
}
a:hover,
a:focus {
  border-bottom: 2px solid #F8BC64;
}
/* a link setting end */

/* image setting start */
img {
  vertical-align: middle;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
/* image setting end */

/* clear fix setting start */
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}
/* clear fix setting end */

/* position setting start */
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
/* position setting end*/

/* vision setting start */
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
/* vision setting end */