@import "css/reset.css";
@import "css/basic.css";
@charset "UTF-8";
/*
Them Name: JasWood wordpress them
Author: 3A - Eason
Version: 1.0
 */

/* font pull in start */
@font-face{
font-family: MyriadPro;
src: url('font/MyriadPro-Regular.otf');
}
/* font pull in end */

/* full width setting start */
header,footer{
	width: 100%;
	background-color: #2C4410;
}
/* full width setting end*/

/* version start*/
.version{
	padding-top: 50px;
	padding-bottom: 10px;
	text-align: right;
}
.version a{
	color: #000;
	font-size: 12px;
}
/* version end*/

/* logo start*/
.logo_position{
	position: relative;
}
.logo{
	position: absolute;
	left: 0;
	top: -45px;
	width: 182px;
	height: 182px;
	background: url(imgs/logo.png) no-repeat left center;
}
/* logo end*/

/* navigation start */
nav ul{
	float: right;
	margin: 0;
	padding: 0;
	padding-left: 182px;
	list-style: none;
}
nav ul li{
	float: left;
	margin: 35px 18px;
}
nav ul li:last-of-type{
	margin-right: 0;
}
nav ul li a{
	padding: 5px 0;
	font-size: 18px;
	text-transform: uppercase;
}
/* navigation end */

/* content setart*/
.content{
	margin-top: 85px;
	margin-bottom: 30px;
}
/* content end*/

/* footer start */
.form{
	float: left;
	width: 450px;
}
address{
	float: right;
	width: 450px;
}
address img{
	margin-right: 20px;
}
address p{
	color: #fff;
}
.copy{
	text-align: center;
	color: #fff;
	padding: 15px 0;
}
/* footer end */

/* about article start */
.about_img{
	float: left;
	width: 370px;
	height: auto;
	margin-right: 15px;
}
/* about article end*/

/* article start */
article{
	margin-bottom: 50px;
}
table{
	width: 990px;
	height: auto;
	margin-top: 30px;
	font-size: 14px;
}
table thead{
	padding: 10px 0;
	color: #fff;
	background: #2C4410;
	text-align: center;
}
table tr td{
	padding: 10px 0;
	text-align: center;
}
/* article end*/

/* product items start*/
.grade{
	margin-right: -81px;
}
.items{
	float: left;
	width: 276px;
	height: auto;
	margin: 30px 81px 30px 0;
}
.items p{
	height: 50px;
	width: 276px;
	font-size: 14px;
	margin-bottom: 20px;
}
/* product items end */

/* form start */
.form{
	float: left;
	width: 450px;
}
.contitle{
	margin-bottom: 50px;
}
.add{
	float: right;
	width: 450px;
}
.add img{
	margin-right: 80px;
}
iframe{
	margin-top: 50px;
}
/* form end*/